body {
    background-color: white;
}
.dslr{
    background-color: red;
    
}
.Software {
    background-color: black;
    border-radius: 100%;
}
#heading {
    color: red;
    
}
img:hover{
    background-color: green;
}